<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <title><%= title %></title>
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <div class="main-container">
            <h2> Categories </h2>
            <% if (locals.isResults) { %>
                <% if (isFound) { %>
                    <h3><%= categoryName %> Inventory Entries:</h3>
                                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% rows.forEach(row => { %>
                                    <tr>
                                        <td><%= row.id %></td>
                                        <td><%= row.category %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                <% } else { %>
                    <div class="not-found">
                        <h3>No Entries Found</h3>
                    </div>
                <% } %>
             <% } else { %>
                <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% rows.forEach(row => { %>
                                    <tr>
                                        <td><%= row.id %></td>
                                        <td><%= row.category %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                <% } %>
            </div>
        <div class="refs-container">
            <a href="/categories/search">Search Category</a>
            <a href="/categories/showProducts">Show Product By Category</a>
            <a href="/categories/add">Add Category</a>
            <a href="/categories/update">Update Category</a>
            <a href="/categories/delete">Delete Category</a>
        </div>
    </body>
</html>